[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/SDL_ttf"]
	path = lib/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "lib/SDL_image"]
	path = lib/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib/SDL_shadercross"]
	path = lib/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
[submodule "lib/simpleini"]
	path = lib/simpleini
	url = https://github.com/brofield/simpleini
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "lib/BS_thread_pool"]
	path = lib/BS_thread_pool
	url = https://github.com/bshoshany/thread-pool
