# Builds
bin/*
build/*

# Packaging
total_domination-linux
total_domination-windows
total_domination-linux.tar.gz
total_domination-windows.zip

# Logs
data/logs/crashes/*
data/logs/current.log

# dev
.development

# a 2000x2000 Map too large for github:
resources/maps/testing/benchmark2.jsonc